Repository DeanLuus22021994/dev_container, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @team-devops, @team-agent-maintainers, @team-extension-maintainers, @team-qa, @team-docs

.github/CODEOWNERS:

# Default owners for everything
* @project-admin

# DevOps related files
/.github/ @team-devops

# Agent component
/agent/ @team-agent-maintainers

# Extension source code
/src/ @team-extension-maintainers

# Tests
/tests/ @team-qa

# Documentation
/docs/ @team-docs

feat: Enhance Docker and GitHub integration with environment variable support
  .devcontainer/build-push-container.ps1
  .github/workflows/build-push-devcontainer.yml
  src/utils/githubUtils.ts
Owners: @project-admin, @team-devops, @team-extension-maintainers

feat: Add artifact management workflows and environment variable validation
  .github/workflows/agent-workflow.yml
  .github/workflows/artifact-workflow.yml
  .github/workflows/download-artifact.yml
  .github/workflows/upload-artifact.yml
  docs/cicd-setup.md
Owners: @team-devops, @team-docs

feat: Update environment variable validation script path and add chalk dependency
  .github/workflows/agent-workflow.yml
  package.json
Owners: @team-devops, @project-admin

feat: Update agent workflow to use 'src' directory and adjust build artifact paths
  .github/workflows/agent-workflow.yml
Owners: @team-devops

feat: Update GitHub Actions workflow for devcontainer automation
  .github/workflows/agent-workflow.yml
  README.md
  docs/README.md
  docs/cicd-setup.md
  docs/development.md
  docs/testing.md
  docs/troubleshooting.md
  tests/integration/devcontainer.test.js
  tests/integration/globalSetup.js
  tests/integration/globalTeardown.js
  tsconfig.json
Owners: @team-devops, @project-admin, @team-docs, @team-qa

feat: Update .gitignore and add .env.example for environment configuration
  .env.example
  .gitignore
  docs/development.md
Owners: @project-admin, @team-docs

docs: Update last updated date in documentation files
  docs/cicd-setup.md
  docs/development.md
  docs/testing.md
  docs/troubleshooting.md
Owners: @team-docs

Remove DOCKER_HOST secret from environment variables in the workflow
  .github/workflows/agent-workflow.yml
Owners: @team-devops

Enhance testing setup and environment configuration
  .eslintrc.json
  package.json
  src/utils/githubUtils.ts
  tests/integration/globalSetup.js
  tests/integration/globalTeardown.js
  tests/integration/workflows.integration.test.ts
  tests/setupTests.js
  tests/utils/githubUtils.test.ts
Owners: @project-admin, @team-extension-maintainers, @team-qa

Refactor devcontainer setup: streamline Dockerfile, remove unused scripts, and update environment configurations
  .devcontainer/Dockerfile
  .devcontainer/build-push-container.ps1
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.yml
  .devcontainer/docker-compose.yml
  package.json
Owners: @project-admin
